@default-font {
    font-family: 'Karla';
    src: url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap') format('truetype');
}

$primary-color: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

.header--wrapper {
    background: $primary-color;
    display: flex;
    padding: 20px;
    align-items: center;
    color: #FFF;
    height: 65px;
    width: 100%;

    img {
        height: 100%;
        margin-right: 6px;
    }

    h1 {
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: -0.1em;
        margin-right: auto;
    }
}

.meme--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;

    .input--container {
        display: flex;
        gap: 17px;

        input[type=text] {
            width: 230px;
            height: 35px;
            border-radius: 5px;
            border: 2px solid #D5D4D8;
            text-indent: 5px;
        }
    }

    button {
        margin-top: 15px;
        width: 477px;
        height: 40px;
        background: $primary-color;
        color: #FFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
.meme--image {
    max-width: 100%;
}
// .form {
//     display: grid;
//     grid-template: 40px 40px / 1fr 1fr;
//     gap: 17px;
// }

// .form--input {
//     font-family: "Karla", sans-serif;
//     border-radius: 5px;
//     border: 1px solid #D5D4D8;
//     text-indent: 5px;
// }

// .form--button {
//     grid-column: 1 / -1;
//     font-family: "Karla", sans-serif;
//     border-radius: 5px;
//     background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
//     color: white;
//     border: none;
//     cursor: pointer;
// }